ADAROUTE_ROUTER_MODEL=qwen2.5:1.5b
ADAROUTE_SMALL_MODEL=qwen2.5:1.5b
ADAROUTE_MEDIUM_MODEL=phi3:latest
ADAROUTE_LARGE_MODEL=sam860/gemma3n:e2b-Q3_K_XL
ADAROUTE_VLM_MODEL=moondream:latest
ADAROUTE_SAMPLE_SIZE=100
ADAROUTE_DATASET=data/datasets/v3_1_text_fusion/fusion_v3_1_1000_200-200-400-100-100.jsonl
